 <div class="main">
 <div class="card-container">
  <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-weight: 600;font-size: x-large;">
    Register</h2>
    <mat-divider></mat-divider><br/> 
    <form [formGroup]="myForm" (ngSubmit)="send()">
    <div class="form-fields">

      <mat-form-field  appearance="fill">
        <mat-label for="first_name">First Name</mat-label>
        <input matInput type="text" formControlName="first_name" >
        <mat-error *ngIf="myForm.get('first_name').invalid && (myForm.get('first_name').dirty || myForm.get('first_name').touched)">
          <span *ngIf="myForm.get('first_name').errors['required']">First name is required</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="fill">
        <mat-label for="last_name">Last Name:</mat-label>
        <input matInput type="text"  formControlName="last_name">
        <mat-error *ngIf="myForm.get('last_name').invalid && (myForm.get('last_name').dirty || myForm.get('last_name').touched)">
          <span *ngIf="myForm.get('last_name').errors['required']">Last name is required.</span>
          <span *ngIf="myForm.get('last_name').errors['minlength']">Last name must be at least 2 characters long.</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-fields">
      <mat-form-field  appearance="fill">
        <mat-label for="email">Email:</mat-label>
        <input matInput type="email"  formControlName="email">
        <mat-error *ngIf="myForm.get('email').invalid && (myForm.get('email').dirty || myForm.get('email').touched)">
          <span *ngIf="myForm.get('email').errors['required']">Email is required.</span>
          <span *ngIf="myForm.get('email').errors['email']">Email is invalid.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="fill">
        <mat-label for="id_num">ID Number:</mat-label>
        <input matInput type="number"  formControlName="id_num">
        <mat-error *ngIf="myForm.get('id_num').invalid && (myForm.get('id_num').dirty || myForm.get('id_num').touched)">
          <span *ngIf="myForm.get('id_num').errors['required']">ID number is required.</span>
          <span *ngIf="myForm.get('id_num').errors['minlength']">ID number must be at least 9 digits long.</span>
          <span *ngIf="myForm.get('id_num').errors['maxlength']">ID number cannot be more than 10 digits long.</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="fill">
        <mat-label for="password">Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="myForm.get('password').invalid && (myForm.get('password').dirty || myForm.get('password').touched)">
          <span *ngIf="myForm.get('password').errors['required']">Password is required</span>
          <span *ngIf="myForm.get('password').errors['minlength']">Password must be at least 8 characters long</span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-fields">

      <mat-form-field  appearance="fill">
        <mat-label for="confirmPassword">Confirm Password</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'"  formControlName="confirmPassword" >
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="myForm.get('confirmPassword').invalid && (myForm.get('confirmPassword').dirty || myForm.get('confirmPassword').touched)">
          <span *ngIf="myForm.get('confirmPassword').errors['passwordMismatch']">Passwords do not match</span>
        </mat-error>
      </mat-form-field>

    <!-- <div class="form-group">
      <label for="city">City</label>
      <select formControlName="city" class="form-control">
        <option value="">--Select a city--</option>
        <option *ngFor="let city of cities" [value]="city">{{city}}</option>
      </select>
      <div *ngIf="myForm.controls['city'].invalid && (myForm.controls['city'].dirty || myForm.controls['city'].touched)">
        <small class="text-danger" *ngIf="myForm.controls['city'].errors['required']">
          City is required
        </small>
      </div>
    </div> -->

      <mat-form-field  appearance="fill">
        <mat-label for="city">City</mat-label>

        <mat-select formControlName="city" (change)="filterCities(myForm.controls['city'].value)">
          <mat-option value="">--Select a city--</mat-option>
          <mat-option *ngFor="let city of filteredCities.length > 0 ? filteredCities : cities" [value]="city">{{city}}</mat-option>
        </mat-select>
        <mat-error *ngIf="myForm.controls['city'].invalid && (myForm.controls['city'].dirty || myForm.controls['city'].touched)">
          <span class="text-danger" *ngIf="myForm.controls['city'].errors['required']">
            City is required
          </span>
        </mat-error>
      </mat-form-field>

      <mat-form-field  appearance="fill">
        <mat-label for="street">Street:</mat-label>
        <input matInput type="text" formControlName="street">
        <mat-error *ngIf="myForm.get('street').invalid && (myForm.get('street').dirty || myForm.get('street').touched)">
          <span *ngIf="myForm.get('street').errors['required']">Last name is required.</span>
        </mat-error>
      </mat-form-field>
      </div>
    <button type="submit" class="btn btn-primary position-relative top-80 start-50 end-50 translate-right" [disabled]="myForm.invalid">Submit</button>
  </form>
 </div>
</div>
