<!-- <button class="back btn btn-primary" style="width: max-content;" (click)="backToMenu()" >Back to Menu</button> -->
<div style="padding-right: 30px;">
  <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><strong>About</strong></h1><mat-divider></mat-divider><br/>
  <div style="text-align: left;padding: 25px;">
    <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Welcome to the "Supershop" website!</h3>
    <p>
      This site was established as a final project on behalf of John Bryce College, it is a shopping site whose backend was written in nodeJS and MongoDB as a database and the frontend was built in Angular and written in Typescript.
      The project was done as a team work by Chaya Maman, Sivan Saban and Tirza Weiss.
    </p><br/>
    <h4 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"><strong>Operating Instructions:</strong><mat-divider></mat-divider></h4>
    <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:small;"><strong>Admin:</strong></h5>
    <p>
      The admin has the option to add and delete products.<br/><br/>
      When adding a product, please note that when inserting a link to the image, the link will have the extension PNG, JPG, GIF.<br/><br/>
      The product name will not be more than 40 characters.<br/><br/>
      The price will not exceed 1000 shekels.<br/>
    </p><br/>
    <h5 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:small;"><strong>User:</strong></h5>
    <p>
      You have the option of adding the products to the cart that appears on the side and choosing the desired amount of units, you can delete a product from the cart or empty the cart by clicking the "delete all" button.<br/><br/>
      You can search for a specific product by entering the product name in the search box above or search by category by clicking on the required category.<br/><br/>
      When you have finished adding the products to the basket, click on the "order" button and you will be taken to the order page where you will see on the left side a receipt summarizing your purchase and on the right side an order form which you will need to fill out, you can return to the shopping page at any stage.<br/><br/>
      By clicking the "Submit" button, you will receive a message that your purchase has been successfully made with an option to download the invoice.<br/>
    </p>
  </div>
</div>
